* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color:#8A53CF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    width: 350px;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transition: 0.2s ease-in-out;
}

.container:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

img {
    width: 4.5vw;
    transition: 0.2s ease-in-out;
}

img:hover {
    transform: scale(1.1);
}

.name {
    font-size: 1rem;
    font-weight: bold;
}

.email {
    font-size: 0.7rem;
    font-weight: lighter;
    color: #797085;
}

.divider {
    border: none;
    height: 1px;
    background-color: #F4EFFA; 
    margin: 20px 0; 
}

.section-title {
    color: #686071;
    font-size: 0.6rem;
    margin-bottom: 10px;
}


.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.item:hover {
    background-color: #F4EFFA;
    padding: 1px;
    border-radius: 5px;
}

.text {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 0.7rem;
    font-weight: lighter;
}

.ph-user-circle {
    color: #686071;
    font-size: 0.8rem;
}

.ph-caret-right {
    color: #686071;
    font-size: 1rem;
}

.exit {
    color: red;
}

.ph-sign-out {
    color: red;
}